prometheus.scrape "nifi" {
  targets = [
    {"__address__" = "nifi-1.nifi-headless.qa-nifi.svc.cluster.local:8443"},
  ]
  scheme       = "https"
  metrics_path = "/nifi-api/flow/metrics/prometheus"

  tls_config {
    insecure_skip_verify = true
  }

  oauth2 {
    client_id     = "nifi-metrics"
    client_secret = "your-secret-here"
    token_url     = "https://keycloak.example.com/realms/your-realm/protocol/openid-connect/token"

    tls_config {
      insecure_skip_verify = true
    }
  }

  forward_to = [prometheus.remote_write.default.receiver]
}
